# Ignore node_modules directory
node_modules

# Ignore yarn.lock file
yarn.lock

# Ignore development and debugging files
.vscode
*.log
*.swp
*.swo
*.out
.DS_Store

# Ignore build and output directories
dist
build

# Ignore any temporary or cache files
.npmrc
.npm
.yarn
.yarn-integrity
*.pid

# Ignore any editor or IDE specific files
.idea
*.iml

# Ignore TypeScript source files
*.ts

# Ignore test and coverage files
coverage
